extends: "../.eslintrc"

# Test-related globals for mocha
globals:
  after      : false
  afterEach  : false
  before     : false
  beforeEach : false
  describe   : false
  it         : false
  run        : false
